gateway/desktop/nodered/flows.json
[{"id":"6c6776bb.58fe3","type":"tab","label":"Server","disabled":false,"info":""},{"id":"38521f7b.95ce88","type":"subflow","name":"Smart Network Devices","info":"","category":"","in":[{"x":40,"y":40,"wires":[{"id":"86978abb.4876a"}]}],"out":[{"x":740,"y":40,"wires":[{"id":"9dcedf3c.4be94","port":0}]}],"env":[]},{"id":"9aa934a0.213a9","type":"subflow","name":"Request Update Light","info":"","category":"","in":[{"x":40,"y":40,"wires":[{"id":"1b37d7b6.06e9b"}]}],"out":[],"env":[],"inputLabels":["id"]},{"id":"6fc7c850.baefb","type":"sqlitedb","z":"","db":"gateway.db","mode":"RWC"},{"id":"e13a7674.04ddd","type":"sqlite","z":"6c6776bb.58fe3","mydb":"6fc7c850.baefb","sqlquery":"msg.topic","sql":"","name":"","x":608,"y":90,"wires":[[]]},{"id":"2bf922d1.77af86","type":"inject","z":"6c6776bb.58fe3","name":"CREATE TABLE light","topic":"CREATE TABLE IF NOT EXISTS light(id INTEGER PRIMARY KEY, name TEXT, ip_address TEXT, port INTEGER, r INTEGER, g INTEGER, b INTEGER)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":401,"y":90,"wires":[["e13a7674.04ddd"]]},{"id":"431b8e1d.ab2548","type":"function","z":"6c6776bb.58fe3","name":"UPDATE light by id","func":"var id = msg.payload.id;\nvar name = msg.payload.name;\nvar r = msg.payload.r;\nvar g = msg.payload.g;\nvar b = msg.payload.b;\n\nvar sql = 'UPDATE light SET ';\nvar sqlparts = [];\n\nif (name) {\n    sqlparts.push(`name='${name}'`);\n}\n\nif (r !== undefined) {\n    sqlparts.push(`r=${r}`);\n}\n\nif (g !== undefined) {\n    sqlparts.push(`g=${g}`);\n}\n\nif (b !== undefined) {\n    sqlparts.push(`b=${b}`);\n}\n\nsql += sqlparts.join(',');\n\nsql += ` WHERE id=${id}`;\n\nmsg.topic = sql;\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":440,"wires":[["830742c9.5f7538"]]},{"id":"314310a3.d8c608","type":"function","z":"6c6776bb.58fe3","name":"DELETE light by id","func":"var id = msg.payload;\n\nmsg.topic = `DELETE FROM light WHERE id=${id}`\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":540,"wires":[["317662db.084326"]]},{"id":"fcb7782c.c75b28","type":"http in","z":"6c6776bb.58fe3","name":"","url":"/devices","method":"get","upload":false,"swaggerDoc":"","x":350,"y":600,"wires":[["5303de07.3f784"]]},{"id":"7e84d6f3.7f49d","type":"http in","z":"6c6776bb.58fe3","name":"","url":"/lights","method":"get","upload":false,"swaggerDoc":"","x":340,"y":200,"wires":[["11a8737d.8c5ffd"]]},{"id":"6bfc62d8.e3db2c","type":"http in","z":"6c6776bb.58fe3","name":"","url":"/lights","method":"post","upload":false,"swaggerDoc":"","x":350,"y":280,"wires":[["bcb15206.4cf428"]]},{"id":"6604bd42.438b7c","type":"http in","z":"6c6776bb.58fe3","name":"","url":"/lights/:id","method":"get","upload":false,"swaggerDoc":"","x":350,"y":380,"wires":[["431fbf73.0eb698"]]},{"id":"544e8ef6.6b013","type":"http response","z":"6c6776bb.58fe3","name":"","statusCode":"200","headers":{"Content-Type":"application/json"},"x":1140,"y":380,"wires":[]},{"id":"fa30231.65c766","type":"function","z":"6c6776bb.58fe3","name":"SELECT light by id","func":"var id = msg.payload;\n\nmsg.topic = `SELECT * FROM light WHERE id=${id}`\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":380,"wires":[["b6cd8f5.727af7"]],"inputLabels":["id"]},{"id":"431fbf73.0eb698","type":"function","z":"6c6776bb.58fe3","name":"Extract id from url params","func":"var id = msg.req.params.id;\n\nmsg.payload = id;\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":380,"wires":[["fa30231.65c766"]]},{"id":"b6cd8f5.727af7","type":"sqlite","z":"6c6776bb.58fe3","mydb":"6fc7c850.baefb","sqlquery":"msg.topic","sql":"","name":"","x":970,"y":380,"wires":[["544e8ef6.6b013"]]},{"id":"11a8737d.8c5ffd","type":"sqlite","z":"6c6776bb.58fe3","mydb":"6fc7c850.baefb","sqlquery":"fixed","sql":"SELECT * FROM light","name":"SELECT light","x":500,"y":200,"wires":[["8ca8b36b.112a38"]]},{"id":"8ca8b36b.112a38","type":"http response","z":"6c6776bb.58fe3","name":"","statusCode":"200","headers":{},"x":680,"y":200,"wires":[]},{"id":"bcb15206.4cf428","type":"function","z":"6c6776bb.58fe3","name":"INSERT light","func":"var name = msg.payload.name;\nvar ipAddress = msg.payload.ip_address;\nvar port = msg.payload.port;\nvar r = msg.payload.r || 0;\nvar g = msg.payload.g || 0;\nvar b = msg.payload.b || 0;\n\nmsg.topic = `INSERT INTO light \n        VALUES(\n            null,\n            '${name}',\n            '${ipAddress}',\n            ${port},\n            ${r},\n            ${g},\n            ${b}\n        )`\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":280,"wires":[["2a52f05b.bd7f58"]]},{"id":"2a52f05b.bd7f58","type":"sqlite","z":"6c6776bb.58fe3","mydb":"6fc7c850.baefb","sqlquery":"msg.topic","sql":"","name":"","x":670,"y":280,"wires":[["751857ec.b2afb8","598369f1.a92e2"]]},{"id":"7a60f59a.3c7a64","type":"http in","z":"6c6776bb.58fe3","name":"","url":"/lights/:id","method":"put","upload":false,"swaggerDoc":"","x":350,"y":440,"wires":[["3d6e884.cf12f78"]]},{"id":"830742c9.5f7538","type":"sqlite","z":"6c6776bb.58fe3","mydb":"6fc7c850.baefb","sqlquery":"msg.topic","sql":"","name":"","x":970,"y":440,"wires":[["3468af8a.146528","6b669c21.ff4594"]]},{"id":"3468af8a.146528","type":"http response","z":"6c6776bb.58fe3","name":"","statusCode":"200","headers":{},"x":1140,"y":440,"wires":[]},{"id":"601622ff.ed836c","type":"http in","z":"6c6776bb.58fe3","name":"","url":"/lights/:id","method":"delete","upload":false,"swaggerDoc":"","x":360,"y":540,"wires":[["e435cf68.c0d21"]]},{"id":"e435cf68.c0d21","type":"function","z":"6c6776bb.58fe3","name":"Extract id from url params","func":"var id = msg.req.params.id;\n\nmsg.payload = id;\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":540,"wires":[["314310a3.d8c608"]]},{"id":"3d6e884.cf12f78","type":"function","z":"6c6776bb.58fe3","name":"Extract id from url params","func":"var id = msg.req.params.id;\n\nmsg.payload.id = id;\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":440,"wires":[["431b8e1d.ab2548"]]},{"id":"751857ec.b2afb8","type":"http response","z":"6c6776bb.58fe3","name":"","statusCode":"200","headers":{},"x":840,"y":280,"wires":[]},{"id":"317662db.084326","type":"http response","z":"6c6776bb.58fe3","name":"","statusCode":"200","headers":{},"x":980,"y":540,"wires":[]},{"id":"c95a06cd.5d2ca","type":"http response","z":"6c6776bb.58fe3","name":"","statusCode":"","headers":{},"x":890,"y":600,"wires":[]},{"id":"5303de07.3f784","type":"subflow:38521f7b.95ce88","z":"6c6776bb.58fe3","name":"Get Smart Network Devices","env":[],"x":600,"y":600,"wires":[["c95a06cd.5d2ca"]]},{"id":"86978abb.4876a","type":"exec","z":"38521f7b.95ce88","command":"arp -n | awk '{print $1}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":200,"y":40,"wires":[["9dcedf3c.4be94"],[],[]]},{"id":"9dcedf3c.4be94","type":"function","z":"38521f7b.95ce88","name":"Extract IP Addresses","func":"var ipAddresses = msg.payload.split(\"\\n\");\nmsg.payload = [];\nipAddresses.forEach(function(ipAddress) {\n    if(/^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/.test(ipAddress)) {\n        msg.payload.push(ipAddress);\n    }\n}); \nreturn msg;","outputs":1,"noerr":0,"x":440,"y":40,"wires":[[]]},{"id":"6b669c21.ff4594","type":"subflow:9aa934a0.213a9","z":"6c6776bb.58fe3","name":"","x":1180,"y":480,"wires":[]},{"id":"598369f1.a92e2","type":"subflow:9aa934a0.213a9","z":"6c6776bb.58fe3","name":"","x":880,"y":320,"wires":[]},{"id":"1b37d7b6.06e9b","type":"function","z":"9aa934a0.213a9","name":"Extract id from url params","func":"var id = msg.req.params.id;\n\nmsg.payload = id;\n\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":40,"wires":[["639286c.4c195f8"]]},{"id":"639286c.4c195f8","type":"function","z":"9aa934a0.213a9","name":"SELECT light by id","func":"var id = msg.payload;\n\nmsg.topic = `SELECT * FROM light WHERE id=${id}`\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":100,"wires":[["c0400b6c.0f041"]],"inputLabels":["id"]},{"id":"c0400b6c.0f041","type":"sqlite","z":"9aa934a0.213a9","mydb":"6fc7c850.baefb","sqlquery":"msg.topic","sql":"","name":"","x":170,"y":160,"wires":[["35a403f.ffde57c"]]},{"id":"c9e15cf7.ea8918","type":"http request","z":"9aa934a0.213a9","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":190,"y":280,"wires":[["8ff61609.88bb08"]]},{"id":"35a403f.ffde57c","type":"function","z":"9aa934a0.213a9","name":"Prepare HTTP-Request","func":"var ipAddress = msg.payload[0].ip_address;\nvar port = msg.payload[0].port;\n\nmsg.url = `http://${ipAddress}:${port}/leds`;\n\nmsg.payload = {\n    r: msg.payload[0].r,\n    g: msg.payload[0].g,\n    b: msg.payload[0].b\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":220,"wires":[["c9e15cf7.ea8918","8ff61609.88bb08"]]},{"id":"cb1c4107.407c48","type":"catch","z":"6c6776bb.58fe3","name":"","scope":null,"uncaught":false,"x":380,"y":740,"wires":[["e0bceec5.29b4e"]]},{"id":"e0bceec5.29b4e","type":"http response","z":"6c6776bb.58fe3","name":"","statusCode":"400","headers":{},"x":550,"y":740,"wires":[]},{"id":"8ff61609.88bb08","type":"debug","z":"9aa934a0.213a9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":400,"y":300,"wires":[]}]