gateway/desktop/nodered/flows.json
[{"id":"46c50b40.40b70c","type":"subflow","name":"Request Update Light","info":"","category":"","in":[{"x":40,"y":40,"wires":[{"id":"ec9dcf88.dbed48"}]}],"out":[],"env":[],"inputLabels":["id"]},{"id":"ec9dcf88.dbed48","type":"function","z":"46c50b40.40b70c","name":"Extract id from url params","func":"var id = msg.req.params.id;\n\nmsg.payload = id;\n\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":40,"wires":[["5cb9a964.76b998"]]},{"id":"5cb9a964.76b998","type":"function","z":"46c50b40.40b70c","name":"SELECT light by id","func":"var id = msg.payload;\n\nmsg.topic = `SELECT * FROM light WHERE id=${id}`\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":100,"wires":[["b436f55d.4ad68"]],"inputLabels":["id"]},{"id":"b436f55d.4ad68","type":"sqlite","z":"46c50b40.40b70c","mydb":"7c12b369.af8d64","sqlquery":"msg.topic","sql":"","name":"","x":170,"y":160,"wires":[["a9340c16.7eb83"]]},{"id":"b5321c5.e79c76","type":"http request","z":"46c50b40.40b70c","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":190,"y":280,"wires":[["baa33596.95b328"]]},{"id":"a9340c16.7eb83","type":"function","z":"46c50b40.40b70c","name":"Prepare HTTP-Request","func":"var ipAddress = msg.payload[0].ip_address;\nvar port = msg.payload[0].port;\n\nmsg.url = `http://${ipAddress}:${port}/leds`;\n\nmsg.payload = {\n    r: msg.payload[0].r,\n    g: msg.payload[0].g,\n    b: msg.payload[0].b\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":220,"wires":[["b5321c5.e79c76","baa33596.95b328"]]},{"id":"baa33596.95b328","type":"debug","z":"46c50b40.40b70c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":400,"y":300,"wires":[]},{"id":"f0726a1a.8edbc8","type":"subflow","name":"Smart Network Devices","info":"","category":"","in":[{"x":40,"y":40,"wires":[{"id":"5c8a437e.bca5c4"}]}],"out":[{"x":740,"y":40,"wires":[{"id":"43e50234.53b36c","port":0}]}],"env":[]},{"id":"5c8a437e.bca5c4","type":"exec","z":"f0726a1a.8edbc8","command":"arp -n | awk '{print $1}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":200,"y":40,"wires":[["43e50234.53b36c"],[],[]]},{"id":"43e50234.53b36c","type":"function","z":"f0726a1a.8edbc8","name":"Extract IP Addresses","func":"var ipAddresses = msg.payload.split(\"\\n\");\nmsg.payload = [];\nipAddresses.forEach(function(ipAddress) {\n    if(/^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/.test(ipAddress)) {\n        msg.payload.push(ipAddress);\n    }\n}); \nreturn msg;","outputs":1,"noerr":0,"x":440,"y":40,"wires":[[]]},{"id":"ab25a127.f6aee","type":"tab","label":"Server","disabled":false,"info":""},{"id":"f70c8342.15873","type":"sqlite","z":"ab25a127.f6aee","mydb":"7c12b369.af8d64","sqlquery":"msg.topic","sql":"","name":"","x":610,"y":120,"wires":[[]]},{"id":"b5889303.e4a078","type":"inject","z":"ab25a127.f6aee","name":"CREATE TABLE light","topic":"CREATE TABLE IF NOT EXISTS light(id INTEGER PRIMARY KEY, name TEXT, ip_address TEXT, port INTEGER, r INTEGER, g INTEGER, b INTEGER)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":403,"y":120,"wires":[["f70c8342.15873"]]},{"id":"1efb93a1.4b2ba4","type":"function","z":"ab25a127.f6aee","name":"UPDATE light by id","func":"var id = msg.payload.id;\nvar name = msg.payload.name;\nvar r = msg.payload.r;\nvar g = msg.payload.g;\nvar b = msg.payload.b;\n\nvar sql = 'UPDATE light SET ';\nvar sqlparts = [];\n\nif (name) {\n    sqlparts.push(`name='${name}'`);\n}\n\nif (r !== undefined) {\n    sqlparts.push(`r=${r}`);\n}\n\nif (g !== undefined) {\n    sqlparts.push(`g=${g}`);\n}\n\nif (b !== undefined) {\n    sqlparts.push(`b=${b}`);\n}\n\nsql += sqlparts.join(',');\n\nsql += ` WHERE id=${id}`;\n\nmsg.topic = sql;\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":520,"wires":[["642c1810.a9da68"]]},{"id":"e87495bb.563588","type":"function","z":"ab25a127.f6aee","name":"DELETE light by id","func":"var id = msg.payload;\n\nmsg.topic = `DELETE FROM light WHERE id=${id}`\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":620,"wires":[["e4a3977c.0e327"]]},{"id":"fa8e5f55.591be","type":"http in","z":"ab25a127.f6aee","name":"","url":"/devices","method":"get","upload":false,"swaggerDoc":"","x":360,"y":720,"wires":[["3e952e39.f4209a"]]},{"id":"678e7d18.59c7ec","type":"http in","z":"ab25a127.f6aee","name":"","url":"/lights","method":"get","upload":false,"swaggerDoc":"","x":350,"y":220,"wires":[["4519adea.20b41c"]]},{"id":"14bb57aa.a2652","type":"http in","z":"ab25a127.f6aee","name":"","url":"/lights","method":"post","upload":false,"swaggerDoc":"","x":350,"y":320,"wires":[["c5e02bd1.211ad"]]},{"id":"fbaf6b49.22c958","type":"http in","z":"ab25a127.f6aee","name":"","url":"/lights/:id","method":"get","upload":false,"swaggerDoc":"","x":360,"y":440,"wires":[["ac86416.cc7d84"]]},{"id":"ac86416.cc7d84","type":"http response","z":"ab25a127.f6aee","name":"","statusCode":"200","headers":{"Content-Type":"application/json"},"x":590,"y":440,"wires":[]},{"id":"4519adea.20b41c","type":"sqlite","z":"ab25a127.f6aee","mydb":"7c12b369.af8d64","sqlquery":"fixed","sql":"SELECT * FROM light","name":"SELECT light","x":500,"y":220,"wires":[["14cd0e59.df94fa"]]},{"id":"14cd0e59.df94fa","type":"http response","z":"ab25a127.f6aee","name":"","statusCode":"200","headers":{},"x":680,"y":220,"wires":[]},{"id":"c5e02bd1.211ad","type":"function","z":"ab25a127.f6aee","name":"INSERT light","func":"var name = msg.payload.name;\nvar ipAddress = msg.payload.ip_address;\nvar port = msg.payload.port;\nvar r = msg.payload.r || 0;\nvar g = msg.payload.g || 0;\nvar b = msg.payload.b || 0;\n\nmsg.topic = `INSERT INTO light \n        VALUES(\n            null,\n            '${name}',\n            '${ipAddress}',\n            ${port},\n            ${r},\n            ${g},\n            ${b}\n        )`\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":320,"wires":[["fabf5b9f.019ae8"]]},{"id":"fabf5b9f.019ae8","type":"sqlite","z":"ab25a127.f6aee","mydb":"7c12b369.af8d64","sqlquery":"msg.topic","sql":"","name":"","x":650,"y":320,"wires":[["b37ba4a2.10f488","4d9e3878.ae369"]]},{"id":"4f1891e3.49c988","type":"http in","z":"ab25a127.f6aee","name":"","url":"/lights/:id","method":"put","upload":false,"swaggerDoc":"","x":360,"y":520,"wires":[["9043ff0.bc2288"]]},{"id":"642c1810.a9da68","type":"sqlite","z":"ab25a127.f6aee","mydb":"7c12b369.af8d64","sqlquery":"msg.topic","sql":"","name":"","x":980,"y":520,"wires":[["17c7c6cb.88b9a9","a652be83.e398"]]},{"id":"17c7c6cb.88b9a9","type":"http response","z":"ab25a127.f6aee","name":"","statusCode":"200","headers":{},"x":1150,"y":520,"wires":[]},{"id":"be3c710a.0d9e98","type":"http in","z":"ab25a127.f6aee","name":"","url":"/lights/:id","method":"delete","upload":false,"swaggerDoc":"","x":370,"y":620,"wires":[["4bb4c63a.31c768"]]},{"id":"4bb4c63a.31c768","type":"function","z":"ab25a127.f6aee","name":"Extract id from url params","func":"var id = msg.req.params.id;\n\nmsg.payload = id;\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":620,"wires":[["e87495bb.563588"]]},{"id":"9043ff0.bc2288","type":"function","z":"ab25a127.f6aee","name":"Extract id from url params","func":"var id = msg.req.params.id;\n\nmsg.payload.id = id;\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":520,"wires":[["1efb93a1.4b2ba4"]]},{"id":"b37ba4a2.10f488","type":"http response","z":"ab25a127.f6aee","name":"","statusCode":"200","headers":{},"x":820,"y":320,"wires":[]},{"id":"e4a3977c.0e327","type":"http response","z":"ab25a127.f6aee","name":"","statusCode":"200","headers":{},"x":990,"y":620,"wires":[]},{"id":"609e9f05.f3009","type":"http response","z":"ab25a127.f6aee","name":"","statusCode":"","headers":{},"x":900,"y":720,"wires":[]},{"id":"3e952e39.f4209a","type":"subflow:f0726a1a.8edbc8","z":"ab25a127.f6aee","name":"Get Smart Network Devices","env":[],"x":610,"y":720,"wires":[["609e9f05.f3009"]]},{"id":"a652be83.e398","type":"subflow:46c50b40.40b70c","z":"ab25a127.f6aee","name":"","x":1190,"y":560,"wires":[]},{"id":"4d9e3878.ae369","type":"subflow:46c50b40.40b70c","z":"ab25a127.f6aee","name":"","x":860,"y":360,"wires":[]},{"id":"8877cde2.2a7c28","type":"catch","z":"ab25a127.f6aee","name":"","scope":null,"uncaught":false,"x":340,"y":820,"wires":[["d31b6fc1.b102d"]]},{"id":"d31b6fc1.b102d","type":"http response","z":"ab25a127.f6aee","name":"","statusCode":"400","headers":{},"x":510,"y":820,"wires":[]},{"id":"6eff289c.5bfa8","type":"comment","z":"ab25a127.f6aee","name":"Gib alle registrierten Glühbirnen","info":"","x":1220,"y":100,"wires":[]},{"id":"743be5b6.ef9344","type":"comment","z":"ab25a127.f6aee","name":"Gib alle IP-Adressen im Netzwerk","info":"","x":1230,"y":140,"wires":[]},{"id":"19c89ae2.a554bd","type":"comment","z":"ab25a127.f6aee","name":"Eine Glühbirne registrieren","info":"","x":1210,"y":180,"wires":[]},{"id":"b2eb4b07.70b12","type":"comment","z":"ab25a127.f6aee","name":"Eine Glühbirne löschen","info":"","x":1190,"y":60,"wires":[]},{"id":"4297c08a.2a5c","type":"comment","z":"ab25a127.f6aee","name":"Eine Glühbirne updaten","info":"","x":1190,"y":220,"wires":[]},{"id":"22bb5258.8cf656","type":"comment","z":"ab25a127.f6aee","name":"Datenbank initial erstellen","info":"","x":1200,"y":260,"wires":[]},{"id":"7862a875.921af8","type":"comment","z":"ab25a127.f6aee","name":"Auf Fehler reagieren","info":"","x":1180,"y":300,"wires":[]},{"id":"3556c96c.772686","type":"comment","z":"ab25a127.f6aee","name":"Gib Zustand einer Glühbirne","info":"","x":1210,"y":340,"wires":[]},{"id":"7c12b369.af8d64","type":"sqlitedb","z":"","db":"gateway.db","mode":"RWC"}]