light/raspberry-pi-zero/nodered/flows.json
[{"id":"6bf1c97f.1d0ae","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"54bbd5df.0effac","type":"rpi-gpio out","z":"6bf1c97f.1d0ae","name":"Red","pin":"3","set":"","level":"0","freq":"100","out":"pwm","x":790,"y":240,"wires":[]},{"id":"1f15113c.c77c87","type":"rpi-gpio out","z":"6bf1c97f.1d0ae","name":"Green","pin":"5","set":"","level":"0","freq":"100","out":"pwm","x":800,"y":280,"wires":[]},{"id":"e5c6731f.1f357","type":"rpi-gpio out","z":"6bf1c97f.1d0ae","name":"Blue","pin":"7","set":"","level":"0","freq":"100","out":"pwm","x":790,"y":320,"wires":[]},{"id":"eca5013c.73f418","type":"http in","z":"6bf1c97f.1d0ae","name":"","url":"/leds","method":"get","upload":false,"swaggerDoc":"","x":190,"y":160,"wires":[["a71fb531.533908"]]},{"id":"9731600b.2c0148","type":"http in","z":"6bf1c97f.1d0ae","name":"","url":"/leds","method":"post","upload":false,"swaggerDoc":"","x":190,"y":260,"wires":[["166428ff.ca498f"]]},{"id":"904fa91b.769e6","type":"http response","z":"6bf1c97f.1d0ae","name":"","statusCode":"200","headers":{},"x":810,"y":160,"wires":[]},{"id":"6870678f.e5423","type":"http response","z":"6bf1c97f.1d0ae","name":"","statusCode":"200","headers":{},"x":810,"y":200,"wires":[]},{"id":"d77e7177.74d33","type":"catch","z":"6bf1c97f.1d0ae","name":"","scope":null,"uncaught":false,"x":300,"y":360,"wires":[["36767e64.49bdd2"]]},{"id":"36767e64.49bdd2","type":"http response","z":"6bf1c97f.1d0ae","name":"","statusCode":"400","headers":{},"x":540,"y":360,"wires":[]},{"id":"166428ff.ca498f","type":"function","z":"6bf1c97f.1d0ae","name":"Split body","func":"var r = msg.payload.r || 0;\nvar g = msg.payload.g || 0;\nvar b = msg.payload.b || 0;\n\nr = r / 255 * 100;\ng = g / 255 * 100;\nb = b / 255 * 100;\n\nflow.set('r',r);\nflow.set('g',g);\nflow.set('b',b);\n\nreturn [msg, {payload: r}, {payload:g}, {payload: b}];","outputs":4,"noerr":0,"x":410,"y":260,"wires":[["6870678f.e5423"],["54bbd5df.0effac"],["1f15113c.c77c87"],["e5c6731f.1f357","73b6b034.758c58"]]},{"id":"a71fb531.533908","type":"function","z":"6bf1c97f.1d0ae","name":"Get leds","func":"var r = flow.get('r') || 0;\nvar g = flow.get('g') || 0;\nvar b = flow.get('b') || 0;\n\nmsg.payload = {\n    r: r / 100 * 255,\n    g: g / 100 * 255,\n    b: b / 100 * 255\n}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":160,"wires":[["904fa91b.769e6"]]},{"id":"73b6b034.758c58","type":"debug","z":"6bf1c97f.1d0ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":440,"wires":[]}]